.app {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1.25rem;
}

.header {
    margin-bottom: 1.75rem;
    padding: 1.5rem;
    background: #0075be;
    border-radius: .25rem;
    border: 1px solid lightgray;
}

.header h1 {
    color: white;
    margin-bottom: .5rem;
    font-size: 1.75rem;
}

.header p {
    color: white;
    font-size: 1rem;
}